@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #000000;
  margin-top:0.3em;
  margin-bottom:0.94em;
  margin-right:0.3em;
  width:2.5em;
  line-height:1.7em;
  padding:0.38em;
  border:2px solid blue;
  border-radius:0.5em;
  font:bold;
}
#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
}
.container{
background:url(bg~3.png);
max-width:100%;
height:auto;
background:contain;
z-index:1;
font-family:'Poppins';
}
h1{
text-transform:uppercase;
color:rgb(170,0,0);
}
h2{
text-transform:uppercase;
color:rgb(0,0,130);
}
.text{
font-size:1.2em;
font-weight:400;
}